<html>
  <body>
    <!-- <p>
      Hi there! You have visited this place <%= @visits %> times.
    </p> -->

    <p>
      New Song Please!
    </p>

    <form action="/add_songs" method="post">
      <input name="name" />
      <input name="artist" />      
      <input type="submit" />
    </form>

    <% if @songs.any? %>
      <ol>
        <% @songs.each do |song| %>
          <li><%= song %></li>
        <% end %>
      </ol>
    <% end %>
  </body>
</html>
