
body{
  font-family: "Open Sans";
  font-size: 14px;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: white;
  margin-top: 0;
  text-align: right

}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logogoogle{
  width: 100%;
  height: 175px;
  margin: 35px auto 0px;
  text-align: center;
  background-color: white;
}

.header{
  color: #404040;
  font-size: 14px;


}

a:link {
  color: #404040;
  padding: 4px;
  
}

a:visited {
  color: #404040;
  padding: 4px;
}

a:hover { 
  color: black;
  padding: 4px; 
  }

.buscar {
  border-color: #404040;
  background-color: white;
  width: 541px;
  height: 26px;
  margin: 0px auto;
  border: 1px solid #F2F2F2;
  background: url(img_6.png) no-repeat center right;

}

.buscar:hover {
  border: 1px solid #C6C6C6;
}

.buscar:focus {
  border: 1px solid blue;
}

.mic {
  text-align: left;
  
}

.lado1 {
  text-align: left;
  line-height: 35px;
  height: 40px;
  float: left;
  right: 0;
}

.lado2 {
  text-align: right;
  line-height: 35px;
  height: 40px;

}


footer a , header a {
  text-decoration: none;
}


footer a:hover , header a:hover {
  text-decoration: underline;
  color: black;
}

button {
  cursor: pointer;
  background-color: #F2F2F2;
  text-align: center;
  border: 1px solid #C6C6C6; 
  padding: 4px 10px;
  margin: 12px 5px;

}

button:hover {
  box-shadow: 0px 1px 0px gray

}

.button {
  margin: 0px auto;
  width: 279px;
}

