article {
  width: 1000px;
  height: 820;
  text-align: center;
  background-color: white;
  margin: 40px auto;
}

header,footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #5EA6E0;
  margin-top: 0;
  line-height: 100px;
}

h1{
  display: block;
  margin: 0px 30px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: left;
  margin: 0px 0px;
  color: #5EA6E0
}

.primercuadro {
  width: 440px;
  height: 600px;
  background-color: white;
  margin: 0px 30px;
}

aside{
  width: 440px;
  height: 600px;
  background-color: white;
  margin: -610px 530px;
}

.segundocuadro {
  width: 940px;
  height: 140px;
  background-color: white;
  margin: 630px auto 0px;
}

p {
  text-align: left;
  font-size: 15px;
  margin-bottom: 20px;
  display: block;
  font-family: 'Open Sans', sans-serif;
}


a:link {
  color: white;
  background-color: #5EA6E0;
  padding: 4px;
  
}

a:visited {
 color: white;
  background-color: ##92BF4A;
  padding: 4px;
}

a:hover { 
  color: white;
  background-color: #7B3389;
  padding: 4px; 
}