<html>
  <body>
    <p>
      <h1> Hi Student :) ! </h1> <br> how you doing?! </br>
    </p>

    <form action="/" method="post">
      <input name="name" value="Name" /> <br>
      <input name="surname" value="Surname<br>" /> <br>
      <input name="website" value="Website" /> <br>
      <input name="programming_experience" value="Programming?" /> <br>
      <input name="number_of_dogs" value="Doggies!" /> <br>     
      <input type="submit" />
    </form>

    
  </body>
</html>
