<html>
  <body>
    <h1> HOLA  <%= @user.handle %> ! :D </h1>
   
<hr>
    <form action="/newshout" method="post">
      <input type="message" name="message" placeholder="escribe aqui lo que quieras ! :)"/>
      <input type="submit" />
    </form>

		<% if @shouts.length > 0 %>
	    <ul>
	    	<% @shouts.each do |shout| %>
            <% name = shout.user.name %>
	          <% handle = shout.user.handle %>
	          <% shout = shout.message %>
	          <li><%= "#{handle} (#{name})" %></li>
	          <p> <%= shout %> </p>
	      <% end %>
	    </ul>
    <%end%>
    
  </body>
</html> 
